{% extends "nase.html" %}
{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
            {% csrf_token %}
    <link rel="stylesheet" href="{% static "style.css" %}" type="text/css ">
</head>
<body id="p" style="background-image: url({% static 'img/mail.jpg'%});" >

</body>
</html>
{% endblock %}